body{
      
}

/*General------------------------------------------------------*/
.center{
  max-width: 700px;
  margin:0 auto;
  display: block; 

}

p{
  font-family: Arial!important; 
  font-size: 20px;
    
}

h1{
  font-family: Arial!important; 
  font-size: 20px;
    
}

h3{
  font-family: Arial!important;  
  font-size: 20px;
  
}
/*------------------------------------------------------*/
/*seccion1------------------------------------------------------*/
.img1{
  width: 100%;
}
.box1{ /*padre*/
  width: 100%;
  background-color: #fff;
}
/*------------------------------------------------------*/
/*seccion2------------------------------------------------------*/
.box2{ /*hijo*/
  width: 100%;
  background-color: #fff;
  
}
.box2-2 {
  width: 680px;
  background-color: #fff;
  border: 10px solid #F2F3F4;
  border-top: 0px;
  border-left: 10px solid #F2F3F4;
  border-left: 10px solid #F2F3F4;
  border-right: 10px solid #F2F3F4;
}

.divsec3{
  display: block;
  width: 80%;
  padding: 40px;
}

h1.h1-purple {
  color: #AC58FA;
  font-size: 35px;
  padding: 20px;
  margin: 0px;
}
p.p-sec2 {
  padding: 20px;
  color: #566573;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 25px;
  text-align: justify;
}
.p2 {
    float: right;
    padding: 0px;
}
/*------------------------------------------------------*/
/*seccion3------------------------------------------------------*/
.box3{
  width: 100%;
  background-color: #fff;
  clear: both;
  float: left;
}
.box3-1{
  width: 100%;
  background-color: #fff;
  clear: both;
  }

.column {
  width: 50%;
  float: left;
}
.column2 {
  width: 50%;
  float: right;
}
.h1-black{
  color: #212F3D;
  text-align: left;
  margin-bottom: 0px;
  padding: 23px;
}

.h3-purple{
  color: #AC58FA;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p-sec2-black{
  color: #566573;
  text-align: left;
      margin-top: 0px;
}
/*------------------------------------------------------*/
/*seccion4------------------------------------------------------*/
.box4{ /*padre*/
  width: 100%;
  background-color: #fff;
}
.button1{
  background-color: #E12382;
  font-size: 21px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 11%;
  font-family: Arial!important; 
} 
/*------------------------------------------------------*/
/*seccion5------------------------------------------------------*/
.box5{ /*padre*/
  width: 100%;
  background-color: #fff;
  clear: both;
}
input.form1.th1 {
    width: 40%;
    float: left;
    margin: 10px;
    
}
input.form1.th2 {
    width: 40%;
    float: right;
    margin: 10px;
}
.borde-purple{
   width: 70%;
  background-color: #fff;
  border: 2px solid #BF00FF;
  border-left: 2px solid #BF00FF;
  border-left: 2px solid #BF00FF;
  border-right: 2px solid #BF00FF;
  float: center;
  border-radius: 5px;
}

.h4-black{
  color: #212F3D;
  font-family: Arial!important; 
  font-size: 12px;
}

.textcheck{
  color: #212F3D;
  font-family: Arial!important; 
  font-size: 11px;
}
.select1{
  width: 88%;
}
.select2{
  width: 88%;
}
.btn1{
  width: 88%;
  background-color: #CC2EFA;
  border-radius: 5px;
  padding: 8px;
  color: #fff;
}

.h2-black{
  color: #212F3D;
  font-family: Arial!important;
}
.s5{
  font-family: Arial!important; 
  font-size: 12px;
}
.s5spa{
  font-family: Arial!important; 
  font-size: 12px;

}
.form1{
 border-top: 0px solid #2ECCFA;
  border-left: 0px solid #2ECCFA;
  border-right: 0px solid #2ECCFA;
  border-bottom: 1px solid #2ECCFA;
  width: 88%;
  padding: 5px;
}
label {
    float: left;
    margin: 18px;
}
/*------------------------------------------------------*/
/*footer------------------------------------------------------*/
.linea1 {
    border-left: 3px solid #FE2E2E;
    padding: 0px 0 0px 13px;
    margin: 2px;
}
.lineaf{
  border-left: 3px solid #212F3D;
  padding: 10px 0 10px 10px;
  margin: 40px;
}
.img2 {
  float: right;
  width: 100%;
  
}
.darkh1{
  font-size: 32px;
}
.p-sec2-izq{
  float: right;
}
.p-sec3 {
    color: #566573;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    /* padding: 16px; */
}
/*------------------------------------------------------*/

/*-----------------------Medias-------------------------------*/
@media screen and (max-width: 1440px) {
p.p-sec2 {
    padding: 20px;
    color: #566573;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    text-align: justify;
}
  .img2 {
    float: right;
    width: 52%;
}
.linea1 {
    border-left: 3px solid #FE2E2E;
    padding: 0px 0 0px 13px;
    margin: 20px;
}
.p2 {
    float: right;
    padding: 0px;
    font-size: 10px;
}

}
@media screen and (max-width: 768px) {

  .img2 {
    float: right;
    width: 52%;
}

}  
@media screen and (max-width: 425px){
  .img1 {
    width: 171%;
}
.column2 {
    width: 100%;
}
.column {
  width: 100%;
}
.box3{
  width: 100%;
  background-color: #fff;
  clear: both;
  
}
.h1-black {
    color: #212F3D;
    font-size: 30px;
}
.h3-purple {
    color: #AC58FA;
    font-size: 30px;
}
p.p-sec2 {
    padding: 20px;
    color: #566573;
    font-size: 20px;
    line-height: 45px;
}
.p-sec2-black {
    color: #566573;
    font-size: 30px;
}
.button1 {
  background-color: #E12382;
  font-size: 27px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 11%;
  font-family: Arial!important;
}
.divsec3 {
    display: block;
    width: 80%;
}
.box2 {
    width: 100%;
    background-color: #fff;
    margin: 3px;
}
.p2 {
    float: right;
    padding: 0px;
    font-size: 13px;
    font-family: Arial!important;
}
.h4-black {
    color: #212F3D;
    font-family: Arial!important;
    font-size: 20px;
}
.borde-purple{
   width: 95%;
  background-color: #fff;
  border: 2px solid #BF00FF;
  border-left: 2px solid #BF00FF;
  border-left: 2px solid #BF00FF;
  border-right: 2px solid #BF00FF;
  float: center;
  border-radius: 5px;
}
.s5 {
    font-family: Arial!important;
    font-size: 20px;
}
.s5spa{
  font-family: Arial!important; 
  font-size: 20px;

}
.select1 {
    width: 89%;
    font-size: 20px;
    font-family: Arial!important;
}
.select2 {
    width: 89%;
    font-size: 20px;
    font-family: Arial!important;
}
.p-sec3 {
    color: #566573;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    /* padding: 16px; */
    font-size: 20px;
    margin: 20px;
}
.form1 {
    border-top: 0px solid #2ECCFA;
    border-left: 0px solid #2ECCFA;
    border-right: 0px solid #2ECCFA;
    border-bottom: 1px solid #2ECCFA;
    width: 88%;
    padding: 15px;
    font-size: 15px;
    font-family: Arial!important;
}
.btn1 {
    width: 88%;
    background-color: #CC2EFA;
    border-radius: 5px;
    padding: 8px;
    font-size: 20px;
    color: #fff;
}
.checkbox{
  transform: scale(1.5);
  width: 20px;
}
   
}
