body{
      
}

/*General------------------------------------------------------*/
.center{
  max-width: 700px;
  margin:0 auto;
  display: block; 

}

p{
  font-family: Arial!important; 
  font-size: 20px;
    
}

h1{
  font-family: Arial!important; 
  font-size: 20px;
    
}

h3{
  font-family: Arial!important;  
  font-size: 20px;
  
}
/*------------------------------------------------------*/
/*seccion1------------------------------------------------------*/
.img1{
  width: 100%;
}
.box1{ /*padre*/
  width: 100%;
  background-color: #fff;
}
/*------------------------------------------------------*/
/*seccion2------------------------------------------------------*/
.box2{ /*hijo*/
  width: 100%;
  background-color: #fff;
  
}
.box2-2 {
  width: 680px;
  background-color: #fff;
  border: 10px solid #F2F3F4;
  border-top: 0px;
  border-left: 10px solid #F2F3F4;
  border-left: 10px solid #F2F3F4;
  border-right: 10px solid #F2F3F4;
}
.divsec3{
  display: block;
  width: 80%;
  padding: 40px;
}

h1.h1-purple {
  color: #AC58FA;
  font-size: 35px;
  padding: 20px;
  margin: 0px;
}
p.p-sec2 {
  padding: 20px;
  color: #566573;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 30px;
  text-align: justify;
}
/*------------------------------------------------------*/
/*seccion3------------------------------------------------------*/
.box3{
  width: 100%;
  background-color: #fff;
  clear: both;
  float: left;
}

.column {
  width: 50%;
  float: left;
}
.column2 {
  width: 50%;
  float: right;
}
.h1-black{
  color: #212F3D;
  text-align: left;
  margin-bottom: 0px;
} 
.h3-purple{
  color: #AC58FA;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.p-sec2-black{
  color: #566573;
  text-align: left;
      margin-top: 0px;
}
/*------------------------------------------------------*/
/*seccion4------------------------------------------------------*/
.box4{ /*padre*/
  width: 100%;
  background-color: #fff;
}
.button1{
  background-color: #E12382;
  font-size: 21px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 11%;
  font-family: Arial!important; 
} 
/*------------------------------------------------------*/
/*footer------------------------------------------------------*/
.linea{
  border-left: 3px solid #212F3D;
  padding: 10px 0 10px 10px;
  margin: 40px;
}
.img2 {
  float: right;
  width: 100%;
  
}
.darkh1{
  font-size: 32px;
}
/*------------------------------------------------------*/

/*-----------------------Medias-------------------------------*/
@media screen and (max-width: 1440px) {

  .img2 {
    float: right;
    width: 52%;
}

}
@media screen and (max-width: 768px) {

  .img2 {
    float: right;
    width: 52%;
}

}  
@media screen and (max-width: 425px){
  .img1 {
    width: 171%;
}
.column2 {
    width: 100%;
}
.column {
  width: 100%;
}
.box3{
  width: 100%;
  background-color: #fff;
  clear: both;
  margin: 100px;
}
.h1-black {
    color: #212F3D;
    font-size: 30px;
}
.h3-purple {
    color: #AC58FA;
    font-size: 30px;
}
p.p-sec2 {
    padding: 20px;
    color: #566573;
    font-size: 30px;
    line-height: 45px;
}
.p-sec2-black {
    color: #566573;
    font-size: 30px;
}
.button1 {
  background-color: #E12382;
  font-size: 27px;
  border-radius: 10px;
  padding: 8px;
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 11%;
  font-family: Arial!important;
}
.divsec3 {
    display: block;
    width: 80%;
}
   
}
